<template>
  <div class="employee-dashboard--container">
    <div class="employee-dashboard--header_wrapper">
      <div class="employee-dashboard--header"></div>
    </div>
    <EmployeeList
      class="employee-dashboard--employee-list"
      :current-employee="currentEmployeeData"
      :employee-list="employeeList"
    />
    <EmployeeDetail
      class="employee-dashboard--employee-detail"
      :current-employee="currentEmployeeData"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import EmployeeList from "@/components/EmployeeList";
import EmployeeDetail from "@/components/EmployeeDetail";

export default {
  name: "EmployeeDashboard",
  components: { EmployeeDetail, EmployeeList },
  computed: {
    ...mapState(["employeeList", "currentEmployeeData"])
  },
  async mounted() {
    await this.setEmployeeList();
    this.setCurrentEmployeeData(this.employeeList[0]);
  },
  methods: {
    ...mapActions({
      setEmployeeList: "setEmployeeList",
      setCurrentEmployeeData: "setCurrentEmployeeData"
    })
  }
};
</script>

<style scoped lang="scss">
.employee-dashboard {
  &--employee-detail {
    position: relative;
  }
  &--employee-list {
    position: relative;
    min-height: 100vh;
    width: 30%;
    background: #00000063;
    min-width: 300px;
    z-index: 3;
  }
  &--header {
    background: url("~@/assets/images/headerImage/background.jpg") no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 300px;
    z-index: 1;
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //box-shadow: 1px 1px 1px 1px black;

    &_wrapper {
      background: linear-gradient(
        180deg,
        rgba(21, 21, 21, 0.5),
        rgba(21, 21, 21, 0)
      );
      width: 100%;
      height: 300px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
  &--container {
    width: 100%;
    min-height: 100vh;
    background: #2e2e34;
    display: flex;
  }
}
</style>
