<template>
  <div>
    <div class="employee-list--logo">
      <img
        class="employee-list--logo--image"
        src="@/assets/logo/the-godfather.svg"
        alt="logo"
      />
    </div>
    <div class="employee-list--container">
      <div
        class="employee-list--item"
        v-for="(item, index) of employeeList"
        :key="item.name + index"
        :class="{
          'employee-list--item_is-selected': item.name === currentEmployee?.name,
          'employee-list--item_is-colleague': currentEmployee?.colleagues?.includes(
            item.name
          )
        }"
        :style="{
          fontSize: item.popularity + 'px'
        }"
        @click="setCurrentEmployeeData(item)"
      >
        {{ item.name }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "EmployeeList",
  props: {
    employeeList: { type: Array, default: null, required: true },
    currentEmployee: { type: Object, default: null, required: true }
  },
  methods: {
    ...mapActions({
      setCurrentEmployeeData: "setCurrentEmployeeData"
    })
  }
};
</script>

<style scoped lang="scss">
.employee-list {
  &--container {
    padding-top: 30px;
    overflow: scroll;
    min-height: 100vh;
  }
  &--item {
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &_is-selected {
      background: rgb(64, 65, 70);
      //padding: 10px 0;
      color: rgb(104, 199, 234);
    }

    &_is-colleague {
      color: rgb(104, 199, 234);
    }
  }
  &--logo {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--image {
      width: 200px;
    }
  }
}
</style>
