<template>
  <div class="employee-detail--container">
    <div class="employee-detail--image-container">
      <div class="employee-detail--image-wrapper">
        <img v-if="imageUrl" class="employee-detail--image" :src="imageUrl" />
      </div>
    </div>
    <div class="employee-detail--info">
      <div class="employee-detail--info-name">{{ currentEmployee.name }}</div>
      <div class="employee-detail--info-popularity">
        <div class="employee-detail--info-popularity-label">
          Popularity
        </div>
        <input
          type="range"
          class="employee-detail--info-popularity-input"
          :value="currentEmployee.popularity"
          min="10"
          max="100"
          @input="setPopularity"
        />
      </div>
      <div class="employee-detail--info-biography">
        <div class="employee-detail--info-biography_header">Biography</div>
        <div class="employee-detail--info-biography_text">
          {{ currentEmployee.biography }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "EmployeeDetail",
  props: {
    currentEmployee: { type: Object, default: null, required: true }
  },
  computed: {
    imageUrl() {
      if (this.currentEmployee?.image) {
        return require(`../assets/images/profilePics/${this.currentEmployee?.image}`);
      } else {
        return null;
      }
    }
  },
  methods: {
    setPopularity(e) {
      this.updateCurrentEmployeePopularity(e.target.value);
    },
    ...mapActions({
      updateCurrentEmployeePopularity: "updateCurrentEmployeePopularity"
    })
  }
};
</script>

<style scoped lang="scss">
.employee-detail {
  &--info {
    width: 70%;
    padding-right: 50px;

    &-biography {
      padding: 20px;
      margin-top: 20px;
      background: rgb(27, 29, 35);
      color: white;
      &_header {
        font-size: 25px;
      }
      &_text {
        padding: 10px 0;
        font-size: 18px;
        color: #ffffff99;
        line-height: 24px;
      }
    }
    &-name {
      font-size: 50px;
      color: white;
    }
    &-popularity {
      padding-top: 30px;
      display: flex;
      align-items: center;
      padding-right: 20px;
      &-label {
        font-size: 30px;
        color: white;
        padding-right: 20px;
      }
      &-input {
        width: 100%;
        padding-left: 20px;
      }
    }
  }
  &--image {
    width: 100%;

    &-wrapper {
      width: 150px;
      height: 150px;
      background: grey;
      border-radius: 4px;
      border: 1px solid white;
      box-shadow: 0 0 15px 5px #00000038;
      overflow: hidden;
    }
    &-container {
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }
  &--container {
    text-align: left;
    display: flex;
    z-index: 3;
    padding-top: 240px;
    padding-left: 50px;
    width: 70%;
  }
}
</style>
